# Warmup Stuff

In [1]:
import pandas as pd

In [8]:
df = pd.read_csv("/workspace/datasets/train.csv")
df

,user,sku,category,query,click_time,query_time
0,000000df17cd56a5df4a94074e133c9d4739fae3,2125233,abcat0101001,Televisiones Panasonic 50 pulgadas,2011-09-01 23:44:52.533,2011-09-01 23:43:59.752
1,000001928162247ffaf63185cd8b2a244c78e7c6,2009324,abcat0101001,Sharp,2011-09-05 12:25:37.42,2011-09-05 12:25:01.187
2,000017f79c2b5da56721f22f9fdd726b13daf8e8,1517163,pcmcat193100050014,nook,2011-08-24 12:56:58.91,2011-08-24 12:55:13.012
3,000017f79c2b5da56721f22f9fdd726b13daf8e8,2877125,abcat0101001,rca,2011-10-25 07:18:14.722,2011-10-25 07:16:51.759
4,000017f79c2b5da56721f22f9fdd726b13daf8e8,2877134,abcat0101005,rca,2011-10-25 07:19:51.697,2011-10-25 07:16:51.759
...,...,...,...,...,...,...
1865264,ffffbcfcee8ff636231fa0df557528e6fa2ecdba,3674224,pcmcat247400050000,ttv,2011-10-28 07:30:33.921,2011-10-28 07:27:05.039
1865265,ffffddbbdc67c4d775c7232082adaf40c7e7d03c,2986037,pcmcat218000050000,incase,2011-09-11 14:18:12.625,2011-09-11 14:17:57.759
1865266,ffffed824a4fc5b78e407a423f72bbbc2f6e5213,3303069,pcmcat248500050020,ds games,2011-10-20 00:24:18.609,2011-10-20 00:23:16.705
1865267,fffff158dec2f40d082f7797413f7b6dbc1713e6,2390524,pcmcat209000050008,Archos,2011-10-30 15:42:02.347,2011-10-30 15:40:20.889
1865268,fffff53f46ee78433a09fada9439848fdf0e3a9b,3504376,pcmcat182300050008,graphics cards,2011-10-20 00:02:03.854,2011-10-20 00:01:39.827

In [6]:
gb = df.groupby("query")
gb.first()

,user,sku,category,click_time,query_time
query,,,,,
!pod,ee0c57592de376bf9e687eaab46c05f6d8e15988,9084206,pcmcat144700050004,2011-10-16 22:22:01.996,2011-10-16 22:21:11.988
#,0240c3e637c81f402565ce97978c032b2f6454f3,1972308,cat02010,2011-10-25 23:46:17.884,2011-10-25 23:43:48.686
# 1 hits of the 50s,22ee0cd6a6dce1df2f5487ed6a6faa6b78c8fb06,17072944,cat02010,2011-09-07 18:43:00.204,2011-09-07 18:42:38.189
# TC-P50GT30,144d310cedd839dc33d5dddc8847b90a1347b048,2025359,abcat0102003,2011-09-26 02:16:49.572,2011-09-26 02:12:28.204
#1 Girl,e9fbedbfa8d6d3309b00871185a73aa40019321c,3486349,cat02009,2011-09-20 14:20:15.77,2011-09-20 14:19:59.599
...,...,...,...,...,...
ï¿½ï¿½Mfr: SONY ï¿½ï¿½Model: VPCYB/15KX/P ï¿½ï¿½ ï¿½ï¿½UPC: 027242819757,1b4cd9dccc522a5aa0ef1e146c5277ce704c821e,1945531,pcmcat209000050007,2011-10-04 18:17:43.862,2011-10-04 18:15:27.714
ï¿½ï¿½Mfr: TOSHIBA ï¿½ï¿½Model: BDX4200 ï¿½ï¿½,28e001b8f0605e7b3a2eac7ec21c80ea10af3488,2114042,abcat0102003,2011-09-24 11:14:53.634,2011-09-24 11:14:42.439
ï¿½ï¿½Model: U30JCB2B,d512aff4d504f12273f069830226aac45ed8b432,3104033,pcmcat247400050000,2011-10-08 05:22:29.851,2011-10-08 05:17:54.345
ï¿½ï¿½ï¿½ï¿½Mfr: SONYï¿½ï¿½Model: DSCW530/B ï¿½ï¿½,3a7e036989a666d101d77d29cdcf9405c4e5261c,2507506,abcat0401004,2011-10-04 11:20:10.006,2011-10-04 11:19:25.816
ï¿½ï¿½ï¿½ï¿½ï¿½ HP DV5-2074DX 14.5in Laptop i3 2.13GHz 3GB 250GB DVDRW,bab6934c3681408ba248bc25ac60f358d0112afe,2660188,pcmcat247400050000,2011-08-21 01:33:36.149,2011-08-21 01:31:06.28

In [9]:
gb.get_group("ipad").count()

user          5036
sku           5036
category      5036
query         5036
click_time    5036
query_time    5036
dtype: int64

In [10]:
df[df["category"]=="abcat0101001"]

,user,sku,category,query,click_time,query_time
0,000000df17cd56a5df4a94074e133c9d4739fae3,2125233,abcat0101001,Televisiones Panasonic 50 pulgadas,2011-09-01 23:44:52.533,2011-09-01 23:43:59.752
1,000001928162247ffaf63185cd8b2a244c78e7c6,2009324,abcat0101001,Sharp,2011-09-05 12:25:37.42,2011-09-05 12:25:01.187
3,000017f79c2b5da56721f22f9fdd726b13daf8e8,2877125,abcat0101001,rca,2011-10-25 07:18:14.722,2011-10-25 07:16:51.759
19,0000c4e9d7075985d1020c456e7ce36f83f834eb,2126065,abcat0101001,Samsung 40,2011-09-28 17:27:11.184,2011-09-28 17:26:15.832
40,00017f7beeac02736c0ce7bf1e75f3010939b34e,1831054,abcat0101001,lcd tv,2011-09-28 07:26:32.153,2011-09-28 07:26:21.476
...,...,...,...,...,...,...
1865071,fff7afecf87f8043ce4b4fcbd8ed47d7ffd52679,2620821,abcat0101001,lcd tv,2011-10-16 11:13:30.233,2011-10-16 11:13:25.858
1865077,fff7edfacf2c376fa8ea4f637c33013d057ae70a,1854328,abcat0101001,goldeneye movie,2011-09-20 18:25:30.494,2011-09-20 18:25:16.548
1865119,fff97c95234212c39d6f04c9854fa94d94bc0cce,1854819,abcat0101001,2622037 2127204 2127213 2121716 2138291,2011-10-08 07:00:01.108,2011-10-08 06:56:16.829
1865190,fffc750c85c62fe732b8223d5872be6e0fc03593,2262074,abcat0101001,Pn51d8000,2011-10-24 18:15:10.27,2011-10-24 18:15:05.628
1865224,fffd4ebf04febc87ca4b34c730c78d7bf1bef564,2620821,abcat0101001,Infinity,2011-10-19 21:20:40.308,2011-10-19 21:20:15.504

In [11]:
df.sample(n=100)

,user,sku,category,query,click_time,query_time
294780,289b9e029df70a41dea7c25eeda4de800fe61327,1069212,abcat0701001,Xbox 360,2011-10-30 16:24:11.23,2011-10-30 16:22:51.537
314728,2b551138ac409d48d66c3ff51a2412751552088f,1218341,pcmcat214000050002,canon powershot,2011-08-12 16:27:46.621,2011-08-12 16:26:26.015
1798516,f6d28177f0ec02c643672f6534398edf0c9352f2,2339995,pcmcat50300050014,droid x2,2011-09-04 00:25:23.286,2011-09-04 00:23:17.892
1763781,f1fb172dce76271225d42d8089e89de8a67c7fd3,8565144,abcat0706002,Wii princess,2011-08-31 16:36:40.386,2011-08-31 16:35:29.009
1661505,e3f000ecbcdc723c433200d5ae9c89d6a1236ef1,9274803,pcmcat221000050008,iPod accessories,2011-08-27 13:46:43.741,2011-08-27 13:42:00.806
...,...,...,...,...,...,...
257217,2376d81c8144c88b84e6a53db75a35f818a59647,1606032,cat02015,Meatballs 4,2011-09-17 19:42:34.31,2011-09-17 19:38:39.619
236555,20a0e3ef5c654dba66fbf330682527464413cae9,1550898,abcat0302037,suvwoofer boxes,2011-10-12 13:48:14.519,2011-10-12 13:46:58.906
1508581,cf029ebdd443d3fd094e5b0adccb8e2f29a18a1d,3049133,abcat0905001,Whirlpool gold dishwasher,2011-10-01 20:27:42.311,2011-10-01 20:26:50.728
38865,055c7bed198582f782f5d1589e0b384632dc14d6,8021375,cat02015,fuji,2011-09-01 23:42:49.438,2011-09-01 23:42:40.407
565636,4db92199a418486125752e803627cab2171b2881,7865697,cat02009,Lupe fiasco,2011-09-09 20:06:19.333,2011-09-09 20:04:44.731

# Impressions

In [12]:
lte2 = gb.size().sort_values() < 2
lte2

query
!pod                                        True
Wireless Kit                                True
Wireless LAN adapters                       True
Wireless LAN adaptor                        True
Wireless Microphone                         True
                                           ...
hp touchpad                                False
iPad                                       False
Hp touchpad                                False
2622037 2127204 2127213 2121716 2138291    False
lcd tv                                     False
Length: 257860, dtype: bool

In [13]:
lte2.value_counts()

True     165490
False     92370
dtype: int64

# Downsampling

In [18]:
txgb = pd.read_csv("/workspace/ltr_output/training.xgb", sep='\t', header=None)
txgb

,0,1,2,3,4,5,6
0,0.00,qid:2978,1:0.0000,2:0.0000 # 2971069,11.0,tablets,fake
1,1.00,qid:690,1:0.0000,2:0.0000 # 1049236,1.0,I phone 4,fake
2,0.75,qid:3163,1:0.0000,2:0.0000 # 1303162,1.0,windows 7,fake
3,0.50,qid:3102,1:0.0000,2:0.0000 # 2794138,3.0,vaio,fake
4,0.50,qid:1377,1:0.0000,2:0.0000 # 2550155,3.0,Star wars,fake
...,...,...,...,...,...,...,...
6531,1.00,qid:2989,1:0.0000,2:0.0000 # 3232178,2.0,tha carter iv,fake
6532,1.00,qid:775,1:0.0000,2:0.0000 # 3168067,1.0,Kanye west,fake
6533,0.75,qid:1181,1:0.0000,2:0.0000 # 2023402,2.0,Receivers,fake
6534,1.00,qid:1361,1:0.0000,2:0.0000 # 19367092,1.0,Southland,fake
6535,0.50,qid:513,1:0.0000,2:0.0000 # 9835567,3.0,Fm transmitter,fake

In [19]:
txgb[0].value_counts()

0.00    1634
1.00    1634
0.75    1634
0.50    1634
Name: 0, dtype: int64